 
 body{
    margin-top: 60px;
 }
  
  /* تنسيق footer لجعله أسفل الصفحة بشكل جيد */
  footer {
    width: 100%;
    margin-top: auto; /* يجعله في الأسفل */
  }
.locations {
    margin-top: 100px;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
  }

  h2 {
    text-align: center;
    color: #333;
  }

  /* الحاوية الرئيسية */
  .branches-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
  }

  /* الفرع الواحد */
  .branch {
    flex: 1 1 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  
  h3 {
    margin-bottom: 10px;
    color: #555;
  }

  /* الخريطة */
  .map {
    width: 100%;
    height: 200px;
    border: none;
    margin-top: 10px;
  }

  /* زر View Full Map */
  .map-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
  }

  .map-button:hover {
    background-color: #0056b3;
  }
  footer {
    width:100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
  }
  /* تنسيق الاستجابة للشاشات الصغيرة */
 